Defining an "adopted user" as a user who has logged into the product on three separate days in at least one seven­day period, identify which factors predict future user adoption.

We suggest spending 1-2 hours on this, but you're welcome to spend more or less. Please send us a brief writeup of your findings (the more concise, the better - no more than one page), along with any summary tables, graphs, code, or queries that can help us understand your approach. Please note any factors you considered or investigation you did, even if they did not pan out. Feel free to identify any further research or data you think would be valuable.

# Import and read csv files

In [1]:
import datetime

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
takehome_users = pd.read_csv('./takehome_users.csv',encoding="ISO-8859-1")
takehome_user_engagement = pd.read_csv('./takehome_user_engagement.csv',parse_dates=["time_stamp"])

A user table ("takehome_users") with data on 12,000 users who signed up for the product in the last two years. This table includes:

* name: the user's name

* object_id: the user's id

* email: email address

* creation_source: how their account was created. This takes on one of 5 values: 
    * PERSONAL_PROJECTS: invited to join another user's personal workspace 
    * GUEST_INVITE: invited to an organization as a guest (limited permissions) 
    * ORG_INVITE: invited to an organization (as a full member) 
    * SIGNUP: signed up via the website 
    * SIGNUP_GOOGLE_AUTH: signed up using Google Authentication (using a Google email account for their login id) 
* creation_time: when they created their account 
* last_session_creation_time: unix timestamp of last login 
* opted_in_to_mailing_list: whether they have opted into receiving marketing emails 
* enabled_for_marketing_drip: whether they are on the regular marketing email drip 
* org_id: the organization (group of users) they belong to 
* invited_by_user_id: which user invited them to join (if applicable).

# Data analysis and cleaning

In [3]:
# Visualizing the takehome_users dataframe
takehome_users.head(10)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0

In [4]:
# Summary of data in table - we notice that there seem to be null values in the 'last_session_creation_time' column a

takehome_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [5]:
len(takehome_users['object_id'].unique())

12000

In [6]:
len(takehome_users['email'].unique())

11980

A usage summary table ("takehome_user_engagement") that has a row for each day that a user logged into the product.

In [7]:
# Sort the table by user id and timestamp of their logins in chronological order
takehome_user_engagement.sort_values(by = ['user_id', 'time_stamp']).head(100)
takehome_user_engagement.head(10)

           time_stamp  user_id  visited
0 2014-04-22 03:53:30        1        1
1 2013-11-15 03:45:04        2        1
2 2013-11-29 03:45:04        2        1
3 2013-12-09 03:45:04        2        1
4 2013-12-25 03:45:04        2        1
5 2013-12-31 03:45:04        2        1
6 2014-01-08 03:45:04        2        1
7 2014-02-03 03:45:04        2        1
8 2014-02-08 03:45:04        2        1
9 2014-02-09 03:45:04        2        1

In [8]:
len(takehome_user_engagement['user_id'].unique())

8823

In [9]:
# View the null columns of the takehome users data frame
takehome_users[takehome_users.last_session_creation_time.isnull()]

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN
11,12,2014-04-17 23:48:38,Mathiesen Lærke,LaerkeLMathiesen@cuvox.de,ORG_INVITE,NaN,0,0,130,9270.0
14,15,2013-07-16 21:33:54,Theiss Ralf,RalfTheiss@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,175,NaN
15,16,2013-02-11 10:09:50,Engel René,ReneEngel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,211,NaN
17,18,2013-08-24 00:26:46,Gregersen Celina,CelinaAGregersen@jourrapide.com,GUEST_INVITE,NaN,0,0,2,3153.0
25,26,2013-07-28 00:53:32,Wexler Florian,FlorianWexler@jourrapide.com,ORG_INVITE,NaN,0,0,56,11857.0
31,32,2013-04-17 16:21:30,Perez Timothy,TimothyJPerez@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,98,NaN
33,34,2014-02-03 20:55:18,Holm Sara,SaraMHolm@hotmail.com,ORG_INVITE,NaN,0,0,33,3721.0
34,35,2013-08-01 10:55:26,Krueger Dieter,DieterKrueger@gustr.com,PERSONAL_PROJECTS,NaN,0,0,59,NaN
37,38,2014-05-25 06:59:56,Eiffel Marko,MarkoEiffel@gmail.com,PERSONAL_PROJECTS,NaN,0,0,208,NaN
38,39,2013-09-10 23:09:40,Winter Finley,FinleyWinter@cuvox.de,ORG_INVITE,NaN,1,0,332,3335.0
39,40,2014-05-26 10:29:03,Santiago Shirley,ShirleyJSantiago@gmail.com,GUEST_INVITE,NaN,0,0,2,5377.0
51,52,2014-04-07 22:53:31,Braun Thomas,ThomasBraun@yahoo.com,PERSONAL_PROJECTS,NaN,0,0,0,NaN
61,62,2013-07-09 14:08:31,Sears Amanda,AmandaGSears@yahoo.com,SIGNUP,NaN,0,0,347,NaN
69,70,2014-05-30 04:43:46,Bourchier Alex,AlexBourchier@gmail.com,GUEST_INVITE,NaN,0,0,184,10152.0
70,71,2013-12-01 20:13:21,Cornell Calvin,CalvinSCornell@gmail.com,PERSONAL_PROJECTS,NaN,0,0,310,NaN
78,79,2013-05-29 20:17:43,Hamilton Carrie,CarrieJHamilton@gmail.com,GUEST_INVITE,NaN,0,0,401,9912.0
92,93,2012-09-10 08:07:18,Jørgensen Michael,MichaelSJrgensen@yahoo.com,ORG_INVITE,NaN,0,0,53,2126.0
101,102,2013-03-29 03:30:44,Gottschalk Gabriele,GabrieleGottschalk@gustr.com,PERSONAL_PROJECTS,NaN,0,0,307,NaN
103,104,2014-05-09 21:38:17,Lima Gabriel,GabrielAlmeidaLima@jourrapide.com,PERSONAL_PROJECTS,NaN,0,1,370,NaN
107,108,2013-04-16 20:10:27,Pabst Kristin,KristinPabst@jourrapide.com,GUEST_INVITE,NaN,1,0,306,3522.0
117,118,2014-01-04 11:50:42,Quirk Will,WillQuirk@yahoo.com,GUEST_INVITE,NaN,1,1,12,6799.0
119,120,2013-03-11 07:52:10,Burger Patrick,jkyoycnk@lyoxx.com,GUEST_INVITE,NaN,1,0,86,9709.0
121,122,2013-03-18 07:10:14,Schreiber Christin,ChristinSchreiber@hotmail.com,GUEST_INVITE,NaN,0,0,42,8068.0
128,129,2013-01-21 01:04:45,Cousin Derrick,useteqqj@wgobo.com,PERSONAL_PROJECTS,NaN,0,0,193,NaN
129,130,2012-07-03 14:09:15,Swift Sean,SeanSwift@yahoo.com,PERSONAL_PROJECTS,NaN,0,0,406,NaN
130,131,2013-02-07 02:31:15,Aponte Bert,BertGAponte@gmail.com,PERSONAL_PROJECTS,NaN,0,0,48,NaN
133,134,2013-05-29 09:48:15,Bolton Thomas,ThomasEBolton@jourrapide.com,PERSONAL_PROJECTS,NaN,0,0,4,NaN
136,137,2012-11-15 23:07:41,Renwick Luca,LucaRenwick@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,9,NaN
...,...,...,...,...,...,...,...,...,...,...
11877,11878,2012-11-14 08:47:22,Poulsen Frederik,FrederikNPoulsen@gmail.com,PERSONAL_PROJECTS,NaN,1,0,79,NaN
11882,11883,2014-04-24 14:01:20,Erskine Samantha,SamanthaErskine@yahoo.com,SIGNUP,NaN,0,0,45,NaN
11885,11886,2013-05-28 05:05:05,Svendsen Anders,ndbvfjes@fukqx.com,ORG_INVITE,NaN,0,0,107,6618.0
11886,11887,2012-10-31 01:39:46,Plate Joseph,JosephPlate@yahoo.com,PERSONAL_PROJECTS,NaN,0,0,75,NaN
11889,11890,2012-10-25 12:04:50,Bowen Elise,EliseBowen@cuvox.de,PERSONAL_PROJECTS,NaN,1,0,105,NaN
11890,11891,2014-05-13 18:27:42,Eriksen Katrine,KatrineTEriksen@yahoo.com,PERSONAL_PROJECTS,NaN,0,0,218,NaN
11891,11892,2014-04-09 08:32:48,Lassen Mille,MilleJLassen@yahoo.com,GUEST_INVITE,NaN,1,0,322,9162.0
11895,11896,2014-02-15 01:24:52,Morley Erin,ErinMorley@jourrapide.com,ORG_INVITE,NaN,0,0,66,5834.0
11899,11900,2012-09-12 04:55:10,Oliveira Diogo,DiogoSilvaOliveira@gmail.com,PERSONAL_PROJECTS,NaN,0,0,4,NaN
11900,11901,2014-02-09 22:23:22,Collier James,JamesKCollier@yahoo.com,SIGNUP,NaN,0,0,119,NaN
11913,11914,2013-02-14 21:47:37,Trickett Owen,OwenTrickett@yahoo.com,PERSONAL_PROJECTS,NaN,0,0,178,NaN
11915,11916,2013-10-14 14:50:19,Greenwood Alex,AlexGreenwood@hotmail.com,GUEST_INVITE,NaN,0,0,255,7642.0
11925,11926,2013-09-16 05:43:58,Grunwald Diana,DianaGrunwald@gmail.com,GUEST_INVITE,NaN,0,0,202,7794.0
11928,11929,2013-06-13 04:17:57,Pedersen Frederik,FrederikJPedersen@yahoo.com,SIGNUP,NaN,1,0,105,NaN
11945,11946,2013-05-25 04:55:25,Garnsey Bianca,BiancaGarnsey@gmail.com,ORG_INVITE,NaN,1,0,0,4871.0
11951,11952,2013-01-20 00:12:52,Robb Jasper,JasperRobb@gmail.com,ORG_INVITE,NaN,0,0,1,801.0
11952,11953,2013-03-13 22:38:48,Garcia Arturo,ArturoHGarcia@hotmail.com,ORG_INVITE,NaN,0,0,148,6247.0
11953,11954,2013-09-27 03:53:02,Brown Linda,LindaRBrown@yahoo.com,ORG_INVITE,NaN,0,0,36,5917.0
11954,11955,2013-12-12 11:27:44,Hofmann Anja,AnjaHofmann@gmail.com,PERSONAL_PROJECTS,NaN,0,0,29,NaN
11955,11956,2013-08-08 11:44:05,Jepsen Michelle,MichelleJJepsen@gustr.com,PERSONAL_PROJECTS,NaN,0,0,322,NaN
11965,11966,2013-01-01 02:28:35,Ferreira Luana,LuanaAzevedoFerreira@gmail.com,PERSONAL_PROJECTS,NaN,0,0,39,NaN
11969,11970,2013-10-19 09:51:09,Bartlett Brooke,BrookeBartlett@gmail.com,SIGNUP,NaN,0,0,126,NaN
11970,11971,2013-05-04 06:54:23,Ferreira Beatrice,BeatriceBarbosaFerreira@yahoo.com,GUEST_INVITE,NaN,0,0,3,11854.0
11971,11972,2012-09-13 23:23:11,Penington Jamie,JamiePenington@yahoo.com,ORG_INVITE,NaN,0,0,16,7012.0
11972,11973,2012-10-30 03:09:47,Simmons Thomas,ThomasSimmons@gmail.com,PERSONAL_PROJECTS,NaN,0,0,52,NaN
11975,11976,2013-12-25 22:01:41,Kohl Leah,LeahKohl@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,248,NaN
11977,11978,2014-04-23 16:28:06,Castro Pedro,PedroCunhaCastro@gustr.com,PERSONAL_PROJECTS,NaN,1,0,29,NaN
11984,11985,2013-07-08 17:23:26,Jespersen Marcus,MarcusTJespersen@cuvox.de,PERSONAL_PROJECTS,NaN,0,0,74,NaN
11992,11993,2013-03-28 23:24:21,Townsend Isabel,IsabelTownsend@cuvox.de,PERSONAL_PROJECTS,NaN,0,0,281,NaN
11993,11994,2012-06-05 04:46:16,Grimstone Joel,conxzghp@eaouk.com,GUEST_INVITE,NaN,0,0,84,5450.0

In [10]:
# Noticed null values so dropped the rows with null values
takehome_users = takehome_users.dropna(subset=['last_session_creation_time'])
takehome_users.head(10)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0
10,11,2013-12-26 03:55:54,Paulsen Malthe,MaltheAPaulsen@gustr.com,SIGNUP,1.388117e+09,0,0,69,NaN
12,13,2014-03-30 16:19:38,Fry Alexander,AlexanderDFry@cuvox.de,ORG_INVITE,1.396196e+09,0,0,254,11204.0

In [11]:
# Review data in table - no null values
takehome_user_engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null datetime64[ns]
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.8 MB

# Identifying Adopted Users

In [12]:
#Perform floor operation on the data to the specified freq of days, and convert from datetime to int
takehome_user_engagement['time_stamp'] = takehome_user_engagement['time_stamp'].dt.floor('d').astype(np.int64)

#sorting and remove duplicated days per users 
#takehome_user_engagement = takehome_user_engagement.sort_values(['user_id', 'time_stamp']).drop_duplicates()

In [13]:
#groupby user_id and provide rolling window calculations.
a = takehome_user_engagement.groupby('user_id')['time_stamp'].rolling(window=3)

b = pd.to_timedelta((a.max()- a.min())).dt.days

In [14]:
print(b[:10])

user_id
1        0     NaN
2        1     NaN
         2     NaN
         3    24.0
         4    26.0
         5    22.0
         6    14.0
         7    34.0
         8    31.0
         9     6.0
Name: time_stamp, dtype: float64

In [15]:
adopted_users = b[b == 7].index.get_level_values('user_id').tolist()
len(adopted_users)

6677

In [16]:
c = list(set(adopted_users))
c.sort()

In [17]:
takehome_users['adopted_user'] = 0
for val in c:
    takehome_users.loc[takehome_users['object_id'] ==val, 'adopted_user'] = 1

In [18]:
# Takehome users dataframe with the populated 'adopter_user' column with a binary response
takehome_users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,1
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,0

# Machine Learning Classification
We choose to use a subset of our features, omitting the features which identify the user such as user ID, name, email, etc. which are not useful for classification. <br>
We use a random forest classifier here as our choice of model and we analyze the predictive power of our different features.

In [19]:
feature_cols = ['creation_source', 'last_session_creation_time', 'enabled_for_marketing_drip', 'org_id']
X = takehome_users.loc[:, feature_cols]
y = takehome_users.adopted_user
print(X.shape, y.shape)

(8823, 4) (8823,)

In [20]:
## Data pre-processing for Random Forest Classifier

In [21]:
# Conversion of categorical variables to ordinal encoded variables
from sklearn import preprocessing
enc = preprocessing.OrdinalEncoder()

X_list = np.array(X['creation_source'])
X_list = [[val] for val in X_list]
enc.fit(X_list)
X['creation_source'] = enc.transform(np.array(X['creation_source']).reshape(-1,1))

# Normalizing the timestamps for last session creation time
max_time = max(X.last_session_creation_time)
min_time = min(X.last_session_creation_time)

X.last_session_creation_time = X.last_session_creation_time.apply(lambda x: (x - min_time)/(max_time-min_time))

X.head()

,creation_source,last_session_creation_time,enabled_for_marketing_drip,org_id
0,0.0,0.938254,0,11
1,1.0,0.908366,0,1
2,1.0,0.397434,0,94
3,0.0,0.483504,0,1
4,0.0,0.320639,0,193

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
# Fitting the Random Forest Classifier model
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train, y_train)

C:\Users\JLH2TCQ\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [34]:
# Performance Metrics of our model
from sklearn.metrics import confusion_matrix
y_pred = rf.predict(X_test)
for i in range(len(y_pred)):
    if y_pred[i] >= 0.5:
        y_pred[i] = 1
    else:
        y_pred[i] = 0
cm = confusion_matrix(y_test, y_pred)
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
precision = tp / (tp + fp)
recall = tp / (tp + fn)
F1 = 2*precision*recall/(precision + recall)
print('Confusion Matrix:', '\n', cm)
print('Precision: \t', precision)
print('Recall: \t', recall)
print('F1 Score: \t', F1)

Confusion Matrix:
 [[1397   80]
 [ 119  169]]
Precision: 	 0.678714859437751
Recall: 	 0.5868055555555556
F1 Score: 	 0.6294227188081937

In [25]:
# Looking at importance of the features we used for classification
print("Features sorted by their score:")
print(sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_), feature_cols), 
             reverse=True))

Features sorted by their score:
[(0.7447, 'last_session_creation_time'), (0.1946, 'org_id'), (0.046, 'creation_source'), (0.0146, 'enabled_for_marketing_drip')]